[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
DateTime = "*"
Flask-SQLAlchemy = "*"
requests = "*"
pytest = "*"
SQLAlchemy-Utils = "*"
Flask-WTF = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.8"
