{% extends 'base.html' %}

{% block head %} 
<title>{{record.requested_time.strftime("%x @ %X")}}</title>
{% endblock %}

{% block body %}
<div class="jumbotron">
    <div style="text-align: center">
        <h1>Get Updated Stop information </h1>
        <form action="/" method="POST">
            <input class="btn btn-primary" type="submit" value="Get Current Info">
        </form>
    </div>
</div>
<div>
    <p style="padding-left: 1%;"><b>Retrived on:</b> {{record.requested_time.strftime("%x @ %X")}}</p>
    <table class="table table-hover">
        <tr class="table-primary">
            <th>Vehicle</th>
            <th>Direction</th>
            <th>Towards</th>
            <th>Expected Arrival</th>
            <th>Current Location </th>
        </tr>
        {% for i in range(length) %}
        <tr>
            <td><b>{{information[i]['lineName']}}</b> {{information[i]['modeName']}} towards {{information[i]['destinationName']}}</td>
            <td>{{information[i]['direction']}}</td>
            <td>{{information[i]['towards']}}</td>
            <td><b>{{information[i]['expectedArrival'][11:-4]}}</b></td>
            <td>{{information[i]['currentLocation']}}</td>
        </tr>
        {%endfor%}
    </table>
</div>
<div style="text-align:center">
    <a class="btn btn-primary" href="/history">View History</a>
</div>
{% endblock %}