{% extends 'base.html' %}

{% block head %} 
<title>Get Update</title>
{% endblock %}

{% block body %} 
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<div class="jumbotron">
    <div style="text-align: center">
        <h3>There is no information available at this time. Please try again later </h3>
        <form action="/" method="POST">
            <input class="btn btn-primary" type="submit" value="Get Current Info">
        </form>
    </div>
</div>
{% endblock %}